.App {
  /*text-align: left;*/
  background-color:#F1F1f1;
  align-items: center;
  
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;>*/
  height: 32px;
  margin-top: 32px;
  padding-inline-start: 32px;
}


.App-header {
  background-color:#ACB5BC;
  width: 976px;
  height: 96px;
  color:white;
  font-family:Roboto;
  font-size: x-large;
  
}

.App-intro {
  font-size: xx-large;
  color:gray;
  width: 75%;
  margin-left: 32px;
  font-family: Roboto;
  margin-top: 80px;
  margin-bottom: 40px;
}

.tb3 {
  table-layout: fixed;
  color: #505050;
  width: 912px;
  font-family: roboto;
  background: white;
  margin-left: 32px;
  line-height: 72px;
  font-weight: 400;
  overflow: hidden;
  border-spacing: 1px;
  margin-bottom: 3px;
 

  
}
.tb3 td{
  width: fit-content;
  text-align: left;
  font-size: 16px;
  overflow-wrap: initial;
  padding-inline-start: 24px;

 
}
.tb3 td[className="ed"]
{
width: 100px;
}

.tb5 {
  table-layout: fixed;
  color: #757575;
  width: 912px;
  background: white;
  margin-left: 32px;
  line-height: 48px;
  background-color: white;
  margin-bottom: 3px;
  
 
}
.tb5 td{
  width: fit-content;
  text-align: left;
  font-size: 14px;
  overflow-wrap: initial;
  padding-inline-start: 24px;
  margin-right: 32px;
  font-family: roboto;
  border-spacing: 20px;
  font-weight: 500;
  
}
.form-style-6{
  font: Roboto;
  max-width:912px;
  margin-left: 32px;
  background: white;
  margin-bottom: 10px;

}
.form-style-6 input[type="text"]
{
    border-top-color: initial;
    height: 40px;
    background:#fafafa;
    margin: 10px;
    width: 200px;
    font-size: 14px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;  
    border-bottom-style: none;  
    padding-inline-start: 16px;
    }

.form-style-6 input[type="submit"]
{
    width: 150px;
    line-height: 40px;
    background: #fafafa;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;  
    border-bottom-style: none;  
    color: #757575;
    font-weight: 700;
    font-size: 14px;
    margin-inline-start: 32px;
    
}
.editbutt {
  height: 24px;
  width: 24px;
  margin-inline-start: 80px;

}

.deletebutt {
  height: 24px;
  width: 24px;
  margin-inline-start: 32px;
}